/CPPTasks/Debug
/CPPTasks/CPPTasks.opensdf
/CPPTasks/CPPTasks.sdf
/CPPTasks/CPPTasks.v11.suo
/CPPTasks/CPPTasks/Debug
/CPPTasks/ipch
/CPPTasks/ipch
/CPPTasks/ipch/cpptasks-73a46a4e/cpptasks-8875f2d5.ipch
/CPPTasks/ipch
